@import "../globals.scss";

h2 {
  width: 100%;
  padding: 53px 0;
  font-size: 44px;
  font-weight: 200;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  @include phone {
    font-size: 26px;
    padding: 25px 0;
  }
}

h3 {
  width: 100%;
  padding: 40px 0;
  font-size: 32px;
  font-weight: 200;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  @include phone {
    font-size: 20px;
    padding: 20px 0;
  }
}

.header,
.work,
.about,
.contact-ways {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 50px;
  @include phone {
    padding: 0 20px;
  }
}

.header {
  padding-top: 140px;
  @include phone {
    padding-top: 100px;
  }

  &__text {
    font-weight: 300;
    letter-spacing: 0.05em;

    &_small {
      font-size: 32px;
      line-height: 46px;
      @include phone {
        font-size: 24px;
        line-height: 37px;
      }
    }

    &_big {
      max-width: 780px;
      margin-top: 30px;
      font-size: 48px;
      line-height: 63px;
      @include phone {
        font-size: 32px;
        line-height: 42px;
      }
    }
  }

  &__link-work {
    margin-top: 80px;
    @include phone {
      margin: 60px auto 0;
    }
  }

  &__link-contact {
    margin-left: 45px;
    @include phone {
      margin: 30px auto 0;
    }
  }
}

.work {
  margin-top: 160px;
  @include tablet {
    margin-top: 140px;
  }
  @include phone {
    margin-top: 100px;
  }
}

.recent-works {

  &__wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    @include tablet {
      justify-content: center;
    }
  }

  &__note {
    width: 100%;
    margin: 60px 0 0 0;
    padding: 15px 0;
    font-size: 16px;
    line-height: 22px;
    font-weight: 300;
  }
}

.recent-work {
  width: 49%;
  @include tablet {
    width: 100%;
    margin-top: 35px;
  }

  &__img-link {
    width: 100%;
    display: block;
    position: relative;
  
    @include desktop {
      &:focus .recent-work__image {
        filter: blur(3px);
      }
  
      &:hover .recent-work__image {
        filter: blur(3px);
      }
  
      &:focus .recent-work__button {
        opacity: 1;
      }
  
      &:hover .recent-work__button {
        opacity: 1;
      }
    }
  }

  &__image {
    width: 100%;
  }

  &__button {
    width: 40%;
    padding: 17px 0;
    font-size: 16px;
    text-align: center;
    color: white;
    background-color: $blue;
    position: absolute;
    top: 42%;
    left: 30%;
    z-index: 9;
    opacity: 0;
    transition: all 0.2s linear;
    @include desktop {
      &:hover {
        opacity: 1;
      }
    }
  }

  &__text {
    width: 100%;
    margin: 20px 0 0 0;
    font-size: 14px;
    line-height: 22px;
    color: $blue;
    letter-spacing: 0.05em;
    @include tablet {
      margin: 18px 0 0 0;
    }
  }

  &__header {
    width: 100%;
    font-size: 36px;
    line-height: 65px;
    @include phone {
      font-size: 26px;
      line-height: 47px;
    }
  }
}

.text-solve {
  width: 100%;
  margin: 85px 0 10px;
  font-size: 26px;
  line-height: 47px;
  font-weight: 300;
  text-align: center;
  @include phone {
    font-size: 20px;
    line-height: 36px;
  }

  &_big {
    font-size: 36px;
    font-style: italic;
    @include phone {
      font-size: 26px;
    }
  }

  &__link {
    color: $blue;
    font-weight: normal;
    &:after {
      border-bottom: 2px solid;
    }
  }
}

.services {
  margin-top: 160px;
  @include tablet {
    margin-top: 85px;
  }

  &__wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    @include tablet {
      flex-wrap: wrap;
    }
    @include phone {
      flex-direction: column;
    }
  }
}

.service {
  width: 23.5%;
  margin-top: 50px;
  @include tablet {
    width: 49%;
    margin: 30px 0 20px;
  }
  @include phone {
    width: 100%;
    margin: 30px 0 20px;
  }

  &__icon {
    margin: 0 auto;
    display: block;
    @include phone {
      max-width: 150px;
    }
  }

  &__header {
    width: 100%;
    margin: 35px 0 0 0;
    font-size: 20px;
    font-weight: 500;
    line-height: 31px;
    text-align: center;
    letter-spacing: 0.1em;
    color: #06197a;
    @include tablet {
      margin: 20px 0 0 0;
    }
  }

  &__text {
    width: 100%;
    margin: 20px 0 0 0;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
    @include tablet {
      margin: 10px 0 0 0;
    }
  }
}

.about {
  margin: 120px auto 0;
  @include tablet {
    margin: 80px 0 0 0;
  }

  &__wrapper {
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    @include tablet {
      justify-content: center;
    }
  }

  &__image {
    width: 220px;
    margin: 0 20px 20px 0px;
    @include tablet {
      margin: 0 0 15px 0;
    }
  }

  &__text {
    width: 100%;
    max-width: 600px;
    margin: 0 60px 0 0;
    font-size: 20px;
    line-height: 34px;
    text-align: justify;
    letter-spacing: 0.02em;
    @include phone {
      font-size: 18px;
      line-height: 30px;
    }
  }

  &__button {
    margin: 50px 0 0 0;
  }
}

.testimonials {
  width: 100%;
  margin-top: 120px;

  &__wrapper {
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
    padding: 40px 50px 0px;
    background-image: url("../_img/upper_blockquote.svg"),
      url("../_img/lower_blockquote.svg");
    background-position: left top, right 0px bottom 60px;
    background-repeat: no-repeat;
    @include phone {
      max-width: 600px;
      padding: 40px 0px 0px;
      background-position: left top, right bottom 40px;
    }
  }

  &__text {
    font-size: 20px;
    line-height: 34px;
    text-align: justify;
    letter-spacing: 0.02em;
    @include phone {
      font-size: 18px;
      line-height: 30px;
    }
  }

  &__signature {
    margin-top: 30px;
    font-size: 16px;
    line-height: 25px;
  }

  &__link {
    font-weight: 600;
    color: $blue;
  }
}

.letsCreate {
  width: 100%;
  margin: 190px 0 0 0;
  font-size: 26px;
  line-height: 70px;
  font-weight: 300;
  font-style: italic;
  text-align: center;
  @include tablet {
    margin: 140px 0 0 0;
  }
  @include phone {
    font-size: 20px;
    line-height: 29px;
  }

  span {
    color: #06197a;
  }
}

.contact-ways {
  margin: 10px auto 0;

  &__wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    @include tablet {
      flex-direction: column;
      justify-content: center;
    }
  }
}

.contact {
  width: 32%;
  margin-top: 20px;
  text-align: center;
  @include tablet {
    width: 100%;
    margin: 10px auto 0;
  }

  @include desktop {
    > a:hover + a:after {
      color: $blue;
      opacity: 1;
      transform: scale(1);
    }
  }

  > .linkUnderline {
    margin: 30px auto 0;
    font-size: 22px;
    line-height: 34px;
    text-align: center;
    color: $blue;
    @include tablet {
      margin-top: 10px;
    }
  }

  &__image {
    margin: 40px auto 0;
    display: block;
  }

  &__text {
    width: 100%;
    margin: 30px 0 0 0;
    font-size: 22px;
    line-height: 34px;
    text-align: center;
    @include tablet {
      margin: 10px 0 0 0;
    }
  }

  &__link {
    font-weight: normal;
    color: $blue;
  }
}