@import "../globals.scss";
@import "../post-headers-patter.scss";
@import "../components/breadcrumbs.scss";
@import "../components/overview.scss";
@import "../components/more-studies.scss";

.picture {
  width: 100%;
  img {
    width: 100%;
    border: 2px solid #c4c4c4;
    cursor: pointer;
    @include desktop {
      &:hover {
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      }
      &:focus {
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      }
    }
  }
}

.picture-pros {
  width: 100%;
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  &__wrapper {
    width: 49%;
    margin: 0 0 50px 0;
    @include phone {
      width: 100%;
    }
  }

  &__image {
    width: 100%;
    cursor: pointer;
    border: 2px solid #c4c4c4;

    @include desktop {
      &:hover {
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      }
      &:focus {
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      }
    }
  }

  &__list {
    width: 100%;
    margin: 10px 0 0 0;
    font-size: 16px;
    line-height: 25px;
  }

  &__list-item_green {
    color: #0d7a2c;
  }

  &__list-item_red {
    color: #ff0000;
  }
}

.menu {
  li:nth-of-type(1) {
    a {
      color: $blue !important;
    }
  }
}

header {
  background: $orange;
  width: 100%;
}

.key-visual {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 125px 50px 75px;
  position: relative;
  z-index: 1;
  @include tablet {
    padding: 125px 50px 75px;
  }
  @include phone {
    padding: 150px 20px 75px;
  }
  @include smallphone {
    padding: 120px 20px 160px;
  }

  &:before {
    content: "";
    width: 100%;
    max-width: 65%;
    height: 85%;
    background: url(../_img/purchasing/key-visual.png) no-repeat center;
    background-size: contain;
    display: block;
    position: absolute;
    bottom: 0;
    right: 50px;
    z-index: 2;
    @include tablet {
      max-width: 52%;
      height: 90%;
    }
    @include phone {
      right: 20px;
      bottom: 5px;
      max-width: 50%;
      height: 70%;
    }
    @include smallphone {
      right: 0px;
      bottom: 0px;
      height: 40%;
      max-width: 100%;
    }
  }

  &__text {
    max-width: 300px;
    margin: 0;
    font-size: 16px;
    line-height: 25px;
    letter-spacing: 0.05em;
    color: $blue;
    @include phone {
      font-size: 14px;
      line-height: 22px;
    }
  }
}

.intro {
  margin-top: 35px;
}

.users__header,
.shops__header {
  margin-bottom: 45px;
}
.users {
  &__list {
    width: 100%;
    max-width: 650px;
    margin: 0 auto 25px;
    font-size: 20px;
    line-height: 34px;
    letter-spacing: 0.02em;
    list-style-type: disc;
  
    li {
      margin: 0 0 15px 20px;
    }
  }

  &__picture-wrapper {
    width: 100%;
    max-width: 650px;
    margin: 0 auto 80px;

    &_small {
      max-width: 520px;
    }
  }

  &__blockquote {
    width: 100%;
    max-width: 650px;
    margin: 0 auto;
    padding-top: 70px;
    background-image: url("../_img/upper_blockquote.svg"),
      url("../_img/lower_blockquote.svg");
    background-position: 15px 30px, right 30px bottom 30px;
    background-repeat: no-repeat;
  
    @include phone {
      background-position: left 30px, right bottom 40px;
    }
  
    blockquote {
      width: 100%;
      max-width: 500px;
      margin: 0 auto;
      font-size: 22px;
      line-height: 37px;
      text-align: justify;
    }
  
    p {
      max-width: 500px;
      margin: 25px auto 90px;
      font-size: 16px;
      line-height: 25px;
      letter-spacing: none;
      q {
        font-weight: 300;
      }
    }
  }
}

.sketch {
  &__picture-wrapper {
    width: 100%;
    margin: 20px auto 30px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    & .picture {
      width: 24%;
      @include phone {
        width: 48%;
      }
    }
  }

  &__list-header {
    width: 100%;
    max-width: 650px;
    margin: 0 auto 15px;
    font-size: 22px;
    line-height: 25px;
    font-weight: normal;
    text-align: left;
  }

  &__list {
    width: 100%;
    max-width: 650px;
    margin: 0 auto 25px;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.02em;
    list-style-type: disc;
  
    li {
      margin: 0 0 15px 20px;
    }
  }

  &__step-header {
    padding: 30px 0 20px;
  }
}

.prototype__button {
  display: block;
  margin: 0 auto;
}

#takeaways {
  span {
    font-weight: 600;
  }
}